             Message                 Filename        Thread  Start Line  Stop Line  N_calls  Min Time  Max Time  Total Time
---------------------------------------------------------------------------------------------------------------------------
                    Main             testDriver.cc      0        34        401         1     29991.274  29991.274   29991.274
                   solve  MultiPelletThermalSolver.cc      0       174        188         1     29833.027  29833.027   29833.027
                   solve        PetscSNESSolver.cc      0       234        310         1     29356.737  29356.737   29356.737
                   apply        CoupledOperator.cc      0        28         44       119      214.491   352.844   27125.243
                   apply        PetscSNESSolver.cc      0       199        223       117      214.491   352.844   26688.125
                   apply         ColumnOperator.cc      0        15         20       241        0.080   321.003   24989.291
                   apply  AsyncMapColumnOperator.cc      0        52         59       357        0.604   317.804   24660.057
             applyFinish             Map3to1to3.cc      0       203        276      5712        0.012   316.267   24480.370
                   apply   NonlinearBVPOperator.cc      0        22         81      2856        0.102     0.299     324.784
                   apply    NonlinearFEOperator.cc      0        15         60      2916        0.063     0.193     192.458
      loop over elements    NonlinearFEOperator.cc      0        33         39      2916        0.062     0.190     189.025
              initialize  MultiPelletThermalSolver.cc      0        20        155         1      143.613   143.613     143.613
                   apply  RobinVectorCorrection.cc      0        50        258      5712        0.012     0.084     135.563
        integration loop  RobinVectorCorrection.cc      0       121        236      5712        0.009     0.075     119.989
             buildReturn      ScalarN2GZAxisMap.cc      0       106        180      2856        0.036     0.132     108.381
              applyStart             Map3to1to3.cc      0        91        192      5712        0.005     0.140      91.467
            prepare data             Map3to1to3.cc      0       102        166      5712        0.001     0.118      63.494
                buildMap      ScalarN2GZAxisMap.cc      0        81         95      5712        0.000     0.118      61.050
              applyStart          NodeToNodeMap.cc      0       115        157      2880        0.002     0.054      40.079
             setJacobian        PetscSNESSolver.cc      0       319        337         6        5.643     6.546      35.363
           resetOperator       TrilinosMLSolver.cc      0       153        157       144        0.217     0.506      35.103
                  subset             Map3to1to3.cc      0        94         99      5712        0.004     0.049      26.637
                  subset          NodeToNodeMap.cc      0       118        123      2880        0.001     0.038      25.218
             applyFinish          NodeToNodeMap.cc      0       170        193      2880        0.001     1.323      12.234
             buildReturn             GapSizeMap.cc      0        68        132      2856        0.003     0.022       9.514
                   solve       TrilinosMLSolver.cc      0       176        263      2496        0.002     0.308       8.190
               writeFile                 SiloIO.cc      0        58        137         1        7.282     7.282       7.282
          formThermalRHS  MultiPelletThermalSolver.cc      0       210        314         1        5.429     5.429       5.429
               writeMesh                 SiloIO.cc      0       287        442        24        0.142     0.212       3.629
                buildMap             GapSizeMap.cc      0        39         57      2856        0.001     0.030       1.765
             Load meshes             testDriver.cc      0        48         54         1        0.896     0.896       0.896
              initialize        PetscSNESSolver.cc      0        62        153         1        0.688     0.688       0.688
             Constructor                BoxMesh.cc      0        31        293        24        0.021     0.053       0.650
              initialize                BoxMesh.cc      0       302        646        24        0.020     0.051       0.615
create_ghost_elements: 2                BoxMesh.cc      0       496        556        24        0.014     0.034       0.407
            writeSummary                 SiloIO.cc      0       645        774         1        0.262     0.262       0.262
                   reset       TrilinosMLSolver.cc      0       161        171       144        0.000     0.177       0.201
                sync dim                 SiloIO.cc      0        64         71         1        0.193     0.193       0.193
                   apply       AsyncMapOperator.cc      0        58         65        24        0.003     0.008       0.180
   getJacobianParameters         ColumnOperator.cc      0        26         36         6        0.016     0.039       0.131
       syncMultiMeshData                 SiloIO.cc      0       452        561         1        0.123     0.123       0.123
   getJacobianParameters   NonlinearBVPOperator.cc      0        99        106       144        0.001     0.021       0.119
    write multivariables                 SiloIO.cc      0       720        771         1        0.103     0.103       0.103
 create_surface_elements                BoxMesh.cc      0       578        593        24        0.002     0.017       0.065
create_boundary_elements                BoxMesh.cc      0       595        645        24        0.002     0.012       0.057
          makeConsistent             Map3to1to3.cc      0       271        273      5712        0.000     0.004       0.045
   create_owned_elements                BoxMesh.cc      0       308        441        24        0.000     0.000       0.009
        syncVariableList                 SiloIO.cc      0       571        636         1        0.004     0.004       0.004
       write multimeshes                 SiloIO.cc      0       698        718         1        0.004     0.004       0.004
create_ghost_elements: 1                BoxMesh.cc      0       446        494        24        0.000     0.000       0.004
      create directories                 SiloIO.cc      0       686        696         1        0.002     0.002       0.002
          makeConsistent                 SiloIO.cc      0        74         82         1        0.000     0.000       0.000
              initialize  DenovoTransportSolver.cc      0        32         98         1        0.000     0.000       0.000
     setZeroInitialGuess  MultiPelletThermalSolver.cc      0       197        200         1        0.000     0.000       0.000
         Mechanics solve             testDriver.cc      0       366        384         1        0.000     0.000       0.000


<N_procs=4,id=0>
<timer:id=RueJ,message=Main,file=testDriver.cc,thread=0,start=34,stop=401,N=1,min=2.999127e+04,max=2.999127e+04,tot=2.999127e+04>
<trace:id=RueJ,thread=0,N=1,min=2.999127e+04,max=2.999127e+04,tot=2.999127e+04,active=[ ]>
<timer:id=g1LA,message=solve,file=MultiPelletThermalSolver.cc,thread=0,start=174,stop=188,N=1,min=2.983303e+04,max=2.983303e+04,tot=2.983303e+04>
<trace:id=g1LA,thread=0,N=1,min=2.983303e+04,max=2.983303e+04,tot=2.983303e+04,active=[ RueJ ]>
<timer:id=7G5O,message=solve,file=PetscSNESSolver.cc,thread=0,start=234,stop=310,N=1,min=2.935674e+04,max=2.935674e+04,tot=2.935674e+04>
<trace:id=7G5O,thread=0,N=1,min=2.935674e+04,max=2.935674e+04,tot=2.935674e+04,active=[ RueJ g1LA ]>
<timer:id=Oss2,message=apply,file=CoupledOperator.cc,thread=0,start=28,stop=44,N=119,min=2.144907e+02,max=3.528438e+02,tot=2.712524e+04>
<trace:id=Oss2,thread=0,N=2,min=2.150257e+02,max=2.221274e+02,tot=4.371531e+02,active=[ RueJ g1LA ]>
<trace:id=Oss2,thread=0,N=117,min=2.144907e+02,max=3.528438e+02,tot=2.668809e+04,active=[ RueJ g1LA 7G5O Z7as ]>
<timer:id=Z7as,message=apply,file=PetscSNESSolver.cc,thread=0,start=199,stop=223,N=117,min=2.144909e+02,max=3.528439e+02,tot=2.668812e+04>
<trace:id=Z7as,thread=0,N=117,min=2.144909e+02,max=3.528439e+02,tot=2.668812e+04,active=[ RueJ g1LA 7G5O ]>
<timer:id=eJeN,message=apply,file=ColumnOperator.cc,thread=0,start=15,stop=20,N=241,min=7.958400e-02,max=3.210033e+02,tot=2.498929e+04>
<trace:id=eJeN,thread=0,N=3,min=7.958400e-02,max=2.667064e+00,tot=4.378361e+00,active=[ RueJ 9lkE ]>
<trace:id=eJeN,thread=0,N=4,min=2.702892e+00,max=2.026607e+02,tot=4.037702e+02,active=[ RueJ g1LA Oss2 ]>
<trace:id=eJeN,thread=0,N=234,min=2.679756e+00,max=3.210033e+02,tot=2.458114e+04,active=[ RueJ g1LA Oss2 7G5O Z7as ]>
<timer:id=&ndQ,message=apply,file=AsyncMapColumnOperator.cc,thread=0,start=52,stop=59,N=357,min=6.044690e-01,max=3.178035e+02,tot=2.466006e+04>
<trace:id=&ndQ,thread=0,N=6,min=6.064450e-01,max=2.004073e+02,tot=3.983432e+02,active=[ RueJ eJeN g1LA Oss2 ]>
<trace:id=&ndQ,thread=0,N=351,min=6.044690e-01,max=3.178035e+02,tot=2.426171e+04,active=[ RueJ eJeN g1LA Oss2 7G5O Z7as ]>
<timer:id=FjQU,message=applyFinish,file=Map3to1to3.cc,thread=0,start=203,stop=276,N=5712,min=1.218200e-02,max=3.162667e+02,tot=2.448037e+04>
<trace:id=FjQU,thread=0,N=96,min=1.934400e-02,max=1.998112e+02,tot=3.956692e+02,active=[ RueJ eJeN g1LA Oss2 &ndQ ]>
<trace:id=FjQU,thread=0,N=5616,min=1.218200e-02,max=3.162667e+02,tot=2.408470e+04,active=[ RueJ eJeN g1LA Oss2 &ndQ 7G5O Z7as ]>
<timer:id=oJem,message=apply,file=NonlinearBVPOperator.cc,thread=0,start=22,stop=81,N=2856,min=1.023930e-01,max=2.993200e-01,tot=3.247838e+02>
<trace:id=oJem,thread=0,N=48,min=1.033570e-01,max=1.161420e-01,tot=5.425812e+00,active=[ RueJ eJeN g1LA Oss2 ]>
<trace:id=oJem,thread=0,N=2808,min=1.023930e-01,max=2.993200e-01,tot=3.193580e+02,active=[ RueJ eJeN g1LA Oss2 7G5O Z7as ]>
<timer:id=2kFJ,message=apply,file=NonlinearFEOperator.cc,thread=0,start=15,stop=60,N=2916,min=6.318500e-02,max=1.932790e-01,tot=1.924584e+02>
<trace:id=2kFJ,thread=0,N=12,min=6.461900e-02,max=7.100500e-02,tot=7.914510e-01,active=[ RueJ eg0D ]>
<trace:id=2kFJ,thread=0,N=48,min=6.746000e-02,max=1.249710e-01,tot=4.297306e+00,active=[ RueJ 9lkE eJeN ]>
<trace:id=2kFJ,thread=0,N=48,min=6.332500e-02,max=6.702500e-02,tot=3.110785e+00,active=[ RueJ eJeN g1LA Oss2 oJem ]>
<trace:id=2kFJ,thread=0,N=2808,min=6.318500e-02,max=1.932790e-01,tot=1.842589e+02,active=[ RueJ eJeN g1LA Oss2 oJem 7G5O Z7as ]>
<timer:id=T9ct,message=loop over elements,file=NonlinearFEOperator.cc,thread=0,start=33,stop=39,N=2916,min=6.203100e-02,max=1.902910e-01,tot=1.890253e+02>
<trace:id=T9ct,thread=0,N=12,min=6.427800e-02,max=7.046700e-02,tot=7.870380e-01,active=[ RueJ eg0D 2kFJ ]>
<trace:id=T9ct,thread=0,N=48,min=6.621700e-02,max=1.237500e-01,tot=4.238303e+00,active=[ RueJ 2kFJ 9lkE eJeN ]>
<trace:id=T9ct,thread=0,N=48,min=6.217600e-02,max=6.586600e-02,tot=3.055407e+00,active=[ RueJ 2kFJ eJeN g1LA Oss2 oJem ]>
<trace:id=T9ct,thread=0,N=2808,min=6.203100e-02,max=1.902910e-01,tot=1.809445e+02,active=[ RueJ 2kFJ eJeN g1LA Oss2 oJem 7G5O Z7as ]>
<timer:id=eg0D,message=initialize,file=MultiPelletThermalSolver.cc,thread=0,start=20,stop=155,N=1,min=1.436125e+02,max=1.436125e+02,tot=1.436125e+02>
<trace:id=eg0D,thread=0,N=1,min=1.436125e+02,max=1.436125e+02,tot=1.436125e+02,active=[ RueJ ]>
<timer:id=KycQ,message=apply,file=RobinVectorCorrection.cc,thread=0,start=50,stop=258,N=5712,min=1.167600e-02,max=8.388800e-02,tot=1.355630e+02>
<trace:id=KycQ,thread=0,N=96,min=1.185400e-02,max=2.723900e-02,tot=2.260531e+00,active=[ RueJ eJeN g1LA Oss2 oJem ]>
<trace:id=KycQ,thread=0,N=5616,min=1.167600e-02,max=8.388800e-02,tot=1.333025e+02,active=[ RueJ eJeN g1LA Oss2 oJem 7G5O Z7as ]>
<timer:id=1iD3,message=integration loop,file=RobinVectorCorrection.cc,thread=0,start=121,stop=236,N=5712,min=8.950000e-03,max=7.523600e-02,tot=1.199886e+02>
<trace:id=1iD3,thread=0,N=96,min=9.032000e-03,max=2.455200e-02,tot=2.002822e+00,active=[ RueJ eJeN g1LA Oss2 oJem KycQ ]>
<trace:id=1iD3,thread=0,N=5616,min=8.950000e-03,max=7.523600e-02,tot=1.179858e+02,active=[ RueJ eJeN g1LA Oss2 oJem KycQ 7G5O Z7as ]>
<timer:id=74zQ,message=buildReturn,file=ScalarN2GZAxisMap.cc,thread=0,start=106,stop=180,N=2856,min=3.649800e-02,max=1.320540e-01,tot=1.083814e+02>
<trace:id=74zQ,thread=0,N=48,min=3.662700e-02,max=3.720800e-02,tot=1.771122e+00,active=[ RueJ eJeN g1LA Oss2 &ndQ FjQU ]>
<trace:id=74zQ,thread=0,N=2808,min=3.649800e-02,max=1.320540e-01,tot=1.066103e+02,active=[ RueJ eJeN g1LA Oss2 &ndQ FjQU 7G5O Z7as ]>
<timer:id=JvT7,message=applyStart,file=Map3to1to3.cc,thread=0,start=91,stop=192,N=5712,min=4.903000e-03,max=1.400360e-01,tot=9.146747e+01>
<trace:id=JvT7,thread=0,N=96,min=4.963000e-03,max=2.610900e-02,tot=1.411237e+00,active=[ RueJ eJeN g1LA Oss2 &ndQ ]>
<trace:id=JvT7,thread=0,N=5616,min=4.903000e-03,max=1.400360e-01,tot=9.005623e+01,active=[ RueJ eJeN g1LA Oss2 &ndQ 7G5O Z7as ]>
<timer:id=23bV,message=prepare data,file=Map3to1to3.cc,thread=0,start=102,stop=166,N=5712,min=6.750000e-04,max=1.184130e-01,tot=6.349375e+01>
<trace:id=23bV,thread=0,N=96,min=6.820000e-04,max=1.998000e-02,tot=9.769910e-01,active=[ RueJ eJeN g1LA Oss2 &ndQ JvT7 ]>
<trace:id=23bV,thread=0,N=5616,min=6.750000e-04,max=1.184130e-01,tot=6.251676e+01,active=[ RueJ eJeN g1LA Oss2 &ndQ JvT7 7G5O Z7as ]>
<timer:id=Vx6f,message=buildMap,file=ScalarN2GZAxisMap.cc,thread=0,start=81,stop=95,N=5712,min=0.000000e+00,max=1.182770e-01,tot=6.105044e+01>
<trace:id=Vx6f,thread=0,N=96,min=0.000000e+00,max=1.989000e-02,tot=9.386460e-01,active=[ RueJ eJeN g1LA Oss2 &ndQ JvT7 23bV ]>
<trace:id=Vx6f,thread=0,N=5616,min=0.000000e+00,max=1.182770e-01,tot=6.011179e+01,active=[ RueJ eJeN g1LA Oss2 &ndQ JvT7 23bV 7G5O Z7as ]>
<timer:id=1h6r,message=applyStart,file=NodeToNodeMap.cc,thread=0,start=115,stop=157,N=2880,min=1.893000e-03,max=5.402100e-02,tot=4.007885e+01>
<trace:id=1h6r,thread=0,N=24,min=1.893000e-03,max=5.078000e-03,tot=1.175210e-01,active=[ RueJ eg0D Ezxs ]>
<trace:id=1h6r,thread=0,N=48,min=1.107900e-02,max=1.387900e-02,tot=6.317500e-01,active=[ RueJ eJeN g1LA Oss2 &ndQ ]>
<trace:id=1h6r,thread=0,N=2808,min=1.100200e-02,max=5.402100e-02,tot=3.932958e+01,active=[ RueJ eJeN g1LA Oss2 &ndQ 7G5O Z7as ]>
<timer:id=t8fe,message=setJacobian,file=PetscSNESSolver.cc,thread=0,start=319,stop=337,N=6,min=5.643292e+00,max=6.545963e+00,tot=3.536315e+01>
<trace:id=t8fe,thread=0,N=6,min=5.643292e+00,max=6.545963e+00,tot=3.536315e+01,active=[ RueJ g1LA 7G5O ]>
<timer:id=MMyK,message=resetOperator,file=TrilinosMLSolver.cc,thread=0,start=153,stop=157,N=144,min=2.169830e-01,max=5.064900e-01,tot=3.510278e+01>
<trace:id=MMyK,thread=0,N=144,min=2.169830e-01,max=5.064900e-01,tot=3.510278e+01,active=[ RueJ g1LA 7G5O t8fe ]>
<timer:id=o4au,message=subset,file=Map3to1to3.cc,thread=0,start=94,stop=99,N=5712,min=4.118000e-03,max=4.921200e-02,tot=2.663652e+01>
<trace:id=o4au,thread=0,N=96,min=4.143000e-03,max=4.642000e-03,tot=4.183810e-01,active=[ RueJ eJeN g1LA Oss2 &ndQ JvT7 ]>
<trace:id=o4au,thread=0,N=5616,min=4.118000e-03,max=4.921200e-02,tot=2.621814e+01,active=[ RueJ eJeN g1LA Oss2 &ndQ JvT7 7G5O Z7as ]>
<timer:id=WNVB,message=subset,file=NodeToNodeMap.cc,thread=0,start=118,stop=123,N=2880,min=1.018000e-03,max=3.757600e-02,tot=2.521822e+01>
<trace:id=WNVB,thread=0,N=24,min=1.018000e-03,max=1.957000e-03,tot=4.523200e-02,active=[ RueJ eg0D Ezxs 1h6r ]>
<trace:id=WNVB,thread=0,N=48,min=8.196000e-03,max=8.889000e-03,tot=3.975660e-01,active=[ RueJ 1h6r eJeN g1LA Oss2 &ndQ ]>
<trace:id=WNVB,thread=0,N=2808,min=8.130000e-03,max=3.757600e-02,tot=2.477542e+01,active=[ RueJ 1h6r eJeN g1LA Oss2 &ndQ 7G5O Z7as ]>
<timer:id=JfN$,message=applyFinish,file=NodeToNodeMap.cc,thread=0,start=170,stop=193,N=2880,min=5.260000e-04,max=1.322783e+00,tot=1.223408e+01>
<trace:id=JfN$,thread=0,N=24,min=1.151000e-03,max=2.668000e-03,tot=6.106000e-02,active=[ RueJ eg0D Ezxs ]>
<trace:id=JfN$,thread=0,N=48,min=5.260000e-04,max=1.103000e-03,tot=5.041500e-02,active=[ RueJ eJeN g1LA Oss2 &ndQ ]>
<trace:id=JfN$,thread=0,N=2808,min=5.320000e-04,max=1.322783e+00,tot=1.212261e+01,active=[ RueJ eJeN g1LA Oss2 &ndQ 7G5O Z7as ]>
<timer:id=Bzwv,message=buildReturn,file=GapSizeMap.cc,thread=0,start=68,stop=132,N=2856,min=3.199000e-03,max=2.219100e-02,tot=9.514480e+00>
<trace:id=Bzwv,thread=0,N=48,min=3.204000e-03,max=3.293000e-03,tot=1.556860e-01,active=[ RueJ eJeN g1LA Oss2 &ndQ FjQU ]>
<trace:id=Bzwv,thread=0,N=2808,min=3.199000e-03,max=2.219100e-02,tot=9.358794e+00,active=[ RueJ eJeN g1LA Oss2 &ndQ FjQU 7G5O Z7as ]>
<timer:id=xsNz,message=solve,file=TrilinosMLSolver.cc,thread=0,start=176,stop=263,N=2496,min=1.573000e-03,max=3.081250e-01,tot=8.190389e+00>
<trace:id=xsNz,thread=0,N=2496,min=1.573000e-03,max=3.081250e-01,tot=8.190389e+00,active=[ RueJ g1LA 7G5O ]>
<timer:id=J0Oz,message=writeFile,file=SiloIO.cc,thread=0,start=58,stop=137,N=1,min=7.282245e+00,max=7.282245e+00,tot=7.282245e+00>
<trace:id=J0Oz,thread=0,N=1,min=7.282245e+00,max=7.282245e+00,tot=7.282245e+00,active=[ RueJ ]>
<timer:id=9lkE,message=formThermalRHS,file=MultiPelletThermalSolver.cc,thread=0,start=210,stop=314,N=1,min=5.429320e+00,max=5.429320e+00,tot=5.429320e+00>
<trace:id=9lkE,thread=0,N=1,min=5.429320e+00,max=5.429320e+00,tot=5.429320e+00,active=[ RueJ ]>
<timer:id=dg57,message=writeMesh,file=SiloIO.cc,thread=0,start=287,stop=442,N=24,min=1.424770e-01,max=2.122810e-01,tot=3.629205e+00>
<trace:id=dg57,thread=0,N=24,min=1.424770e-01,max=2.122810e-01,tot=3.629205e+00,active=[ RueJ J0Oz ]>
<timer:id=Pot9,message=buildMap,file=GapSizeMap.cc,thread=0,start=39,stop=57,N=2856,min=5.450000e-04,max=3.018000e-02,tot=1.765134e+00>
<trace:id=Pot9,thread=0,N=48,min=5.530000e-04,max=6.000000e-04,tot=2.772000e-02,active=[ RueJ eJeN g1LA Oss2 &ndQ JvT7 23bV ]>
<trace:id=Pot9,thread=0,N=2808,min=5.450000e-04,max=3.018000e-02,tot=1.737414e+00,active=[ RueJ eJeN g1LA Oss2 &ndQ JvT7 23bV 7G5O Z7as ]>
<timer:id=1wqj,message=Load meshes,file=testDriver.cc,thread=0,start=48,stop=54,N=1,min=8.961110e-01,max=8.961110e-01,tot=8.961110e-01>
<trace:id=1wqj,thread=0,N=1,min=8.961110e-01,max=8.961110e-01,tot=8.961110e-01,active=[ RueJ ]>
<timer:id=lUUY,message=initialize,file=PetscSNESSolver.cc,thread=0,start=62,stop=153,N=1,min=6.883340e-01,max=6.883340e-01,tot=6.883340e-01>
<trace:id=lUUY,thread=0,N=1,min=6.883340e-01,max=6.883340e-01,tot=6.883340e-01,active=[ RueJ eg0D ]>
<timer:id=XH$z,message=Constructor,file=BoxMesh.cc,thread=0,start=31,stop=293,N=24,min=2.137900e-02,max=5.294100e-02,tot=6.499610e-01>
<trace:id=XH$z,thread=0,N=24,min=2.137900e-02,max=5.294100e-02,tot=6.499610e-01,active=[ RueJ 1wqj ]>
<timer:id=KhR4,message=initialize,file=BoxMesh.cc,thread=0,start=302,stop=646,N=24,min=1.999100e-02,max=5.082100e-02,tot=6.154590e-01>
<trace:id=KhR4,thread=0,N=24,min=1.999100e-02,max=5.082100e-02,tot=6.154590e-01,active=[ RueJ 1wqj XH$z ]>
<timer:id=2Id8,message=create_ghost_elements: 2,file=BoxMesh.cc,thread=0,start=496,stop=556,N=24,min=1.363900e-02,max=3.392400e-02,tot=4.072050e-01>
<trace:id=2Id8,thread=0,N=24,min=1.363900e-02,max=3.392400e-02,tot=4.072050e-01,active=[ RueJ 1wqj XH$z KhR4 ]>
<timer:id=x&Qr,message=writeSummary,file=SiloIO.cc,thread=0,start=645,stop=774,N=1,min=2.619380e-01,max=2.619380e-01,tot=2.619380e-01>
<trace:id=x&Qr,thread=0,N=1,min=2.619380e-01,max=2.619380e-01,tot=2.619380e-01,active=[ RueJ J0Oz ]>
<timer:id=1K3w,message=reset,file=TrilinosMLSolver.cc,thread=0,start=161,stop=171,N=144,min=0.000000e+00,max=1.768820e-01,tot=2.011670e-01>
<trace:id=1K3w,thread=0,N=144,min=0.000000e+00,max=1.768820e-01,tot=2.011670e-01,active=[ RueJ g1LA 7G5O t8fe MMyK ]>
<timer:id=jxxn,message=sync dim,file=SiloIO.cc,thread=0,start=64,stop=71,N=1,min=1.931640e-01,max=1.931640e-01,tot=1.931640e-01>
<trace:id=jxxn,thread=0,N=1,min=1.931640e-01,max=1.931640e-01,tot=1.931640e-01,active=[ RueJ J0Oz ]>
<timer:id=Ezxs,message=apply,file=AsyncMapOperator.cc,thread=0,start=58,stop=65,N=24,min=3.106000e-03,max=7.814000e-03,tot=1.802370e-01>
<trace:id=Ezxs,thread=0,N=24,min=3.106000e-03,max=7.814000e-03,tot=1.802370e-01,active=[ RueJ eg0D ]>
<timer:id=wtPn,message=getJacobianParameters,file=ColumnOperator.cc,thread=0,start=26,stop=36,N=6,min=1.558400e-02,max=3.882600e-02,tot=1.309990e-01>
<trace:id=wtPn,thread=0,N=6,min=1.558400e-02,max=3.882600e-02,tot=1.309990e-01,active=[ RueJ g1LA 7G5O t8fe ]>
<timer:id=&IGw,message=syncMultiMeshData,file=SiloIO.cc,thread=0,start=452,stop=561,N=1,min=1.228680e-01,max=1.228680e-01,tot=1.228680e-01>
<trace:id=&IGw,thread=0,N=1,min=1.228680e-01,max=1.228680e-01,tot=1.228680e-01,active=[ RueJ J0Oz x&Qr ]>
<timer:id=rpXQ,message=getJacobianParameters,file=NonlinearBVPOperator.cc,thread=0,start=99,stop=106,N=144,min=6.140000e-04,max=2.138000e-02,tot=1.193660e-01>
<trace:id=rpXQ,thread=0,N=144,min=6.140000e-04,max=2.138000e-02,tot=1.193660e-01,active=[ RueJ g1LA 7G5O t8fe wtPn ]>
<timer:id=s7no,message=write multivariables,file=SiloIO.cc,thread=0,start=720,stop=771,N=1,min=1.031150e-01,max=1.031150e-01,tot=1.031150e-01>
<trace:id=s7no,thread=0,N=1,min=1.031150e-01,max=1.031150e-01,tot=1.031150e-01,active=[ RueJ J0Oz x&Qr ]>
<timer:id=xN&4,message=create_surface_elements,file=BoxMesh.cc,thread=0,start=578,stop=593,N=24,min=2.071000e-03,max=1.710900e-02,tot=6.500300e-02>
<trace:id=xN&4,thread=0,N=24,min=2.071000e-03,max=1.710900e-02,tot=6.500300e-02,active=[ RueJ 1wqj XH$z KhR4 ]>
<timer:id=SBcv,message=create_boundary_elements,file=BoxMesh.cc,thread=0,start=595,stop=645,N=24,min=1.929000e-03,max=1.200400e-02,tot=5.677600e-02>
<trace:id=SBcv,thread=0,N=24,min=1.929000e-03,max=1.200400e-02,tot=5.677600e-02,active=[ RueJ 1wqj XH$z KhR4 ]>
<timer:id=fyO9,message=makeConsistent,file=Map3to1to3.cc,thread=0,start=271,stop=273,N=5712,min=4.000000e-06,max=4.282000e-03,tot=4.455800e-02>
<trace:id=fyO9,thread=0,N=96,min=5.000000e-06,max=1.500000e-05,tot=6.370000e-04,active=[ RueJ eJeN g1LA Oss2 &ndQ FjQU ]>
<trace:id=fyO9,thread=0,N=5616,min=4.000000e-06,max=4.282000e-03,tot=4.392100e-02,active=[ RueJ eJeN g1LA Oss2 &ndQ FjQU 7G5O Z7as ]>
<timer:id=y1JY,message=create_owned_elements,file=BoxMesh.cc,thread=0,start=308,stop=441,N=24,min=3.450000e-04,max=4.200000e-04,tot=8.606000e-03>
<trace:id=y1JY,thread=0,N=24,min=3.450000e-04,max=4.200000e-04,tot=8.606000e-03,active=[ RueJ 1wqj XH$z KhR4 ]>
<timer:id=COPO,message=syncVariableList,file=SiloIO.cc,thread=0,start=571,stop=636,N=1,min=4.375000e-03,max=4.375000e-03,tot=4.375000e-03>
<trace:id=COPO,thread=0,N=1,min=4.375000e-03,max=4.375000e-03,tot=4.375000e-03,active=[ RueJ J0Oz x&Qr ]>
<timer:id=1Ru0,message=write multimeshes,file=SiloIO.cc,thread=0,start=698,stop=718,N=1,min=3.675000e-03,max=3.675000e-03,tot=3.675000e-03>
<trace:id=1Ru0,thread=0,N=1,min=3.675000e-03,max=3.675000e-03,tot=3.675000e-03,active=[ RueJ J0Oz x&Qr ]>
<timer:id=r8Le,message=create_ghost_elements: 1,file=BoxMesh.cc,thread=0,start=446,stop=494,N=24,min=1.450000e-04,max=1.740000e-04,tot=3.531000e-03>
<trace:id=r8Le,thread=0,N=24,min=1.450000e-04,max=1.740000e-04,tot=3.531000e-03,active=[ RueJ 1wqj XH$z KhR4 ]>
<timer:id=dNwN,message=create directories,file=SiloIO.cc,thread=0,start=686,stop=696,N=1,min=1.640000e-03,max=1.640000e-03,tot=1.640000e-03>
<trace:id=dNwN,thread=0,N=1,min=1.640000e-03,max=1.640000e-03,tot=1.640000e-03,active=[ RueJ J0Oz x&Qr ]>
<timer:id=lOKa,message=makeConsistent,file=SiloIO.cc,thread=0,start=74,stop=82,N=1,min=2.420000e-04,max=2.420000e-04,tot=2.420000e-04>
<trace:id=lOKa,thread=0,N=1,min=2.420000e-04,max=2.420000e-04,tot=2.420000e-04,active=[ RueJ J0Oz ]>
<timer:id=FMtK,message=initialize,file=DenovoTransportSolver.cc,thread=0,start=32,stop=98,N=1,min=1.410000e-04,max=1.410000e-04,tot=1.410000e-04>
<trace:id=FMtK,thread=0,N=1,min=1.410000e-04,max=1.410000e-04,tot=1.410000e-04,active=[ RueJ ]>
<timer:id=eDP9,message=setZeroInitialGuess,file=MultiPelletThermalSolver.cc,thread=0,start=197,stop=200,N=1,min=4.500000e-05,max=4.500000e-05,tot=4.500000e-05>
<trace:id=eDP9,thread=0,N=1,min=4.500000e-05,max=4.500000e-05,tot=4.500000e-05,active=[ RueJ ]>
<timer:id=8QQQ,message=Mechanics solve,file=testDriver.cc,thread=0,start=366,stop=384,N=1,min=1.000000e-06,max=1.000000e-06,tot=1.000000e-06>
<trace:id=8QQQ,thread=0,N=1,min=1.000000e-06,max=1.000000e-06,tot=1.000000e-06,active=[ RueJ ]>
